body {
    background: linear-gradient(rgb(255,105,180), rgb(255,186,0));
    /* default body font family goes here */
    font-family: 'Nunito', sans-serif;
    color: #00263e;
}

.container {
    padding: 1rem;
    position: relative;
}

/* Typography */

h1 a {
    color: #00263e;
    text-decoration: none;
}

h1 {
    letter-spacing: 5px;
}

h1::first-letter {
    color: rgb(255,105,180)
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}



/*  header Styles  */

header {
    background-color: #fff;
}

.menu-icon {
    width: 40px;
    text-align: center;
    cursor: pointer;
}

header .flex-container {
    display: flex;
    justify-content: space-between;
}

header a svg {
    width: 15px;
    height: auto;
}

.main-menu li {
    line-height: 85px;
    margin: 0 25px;
    border-bottom: 1px solid #e3eaf3;
    white-space: nowrap;
}

.main-menu li:last-of-type {
    border-bottom: none;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f89d70;
    font-weight: 700;
    display: block;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.main-menu a:hover,
.main-menu a:active {
    background-color: #e3eaf3;
    border-radius: 5px;
}

.dropdown a {
    color:#00263e;
    font-weight: 400;
}

.main-menu svg:first-of-type {
    margin-right: 10px;
}

.main-menu svg:last-of-type {
    margin-left: auto;
}

/* Hide/show dropdowns */
.dropdown {
    max-height: 0;
    overflow: hidden;
}

.main-menu li:hover > .dropdown {
    max-height: 50rem;
}

/* hide/show main menu with toggle icon */

nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    transition: max-height 0.4s ease-in-out;
}

.show-nav {
    max-height: 100vh;
}

section {
    padding: 4rem 2rem;
}
@media only screen and (min-width: 1300px){
    .container {
        padding: 1rem 0;
        max-width: 76rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }


    .main-menu {
        display: flex;
    }

    .main-menu >li {
        border-bottom: none;
        position: relative;
    }

    .menu-icon {
        display: none;
    }

    nav {
        max-height: 50rem;
        position: static;
        width: auto;
        overflow: visible;
    }
    
    .dropdown {
        position: absolute;
        background-color: white;
        top: 83px;
        left: 0;
        transition: max-height 0.2s ease-in-out;
        border-radius: 0 0 5px 5px;
    }


    .dropdown > li {
        margin: 0;
        min-width: 10rem;
        text-align: center;
        line-height: 60px;
    }

    .dropdown > li a {
        display: block;
    }

    .main-menu svg:last-of-type {
        margin-left: 10px;
    }
    
    ul.main-menu li:focus-within > ul,
    ul.main-menu li > ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
        max-height: 50rem;
    }
}


